[submodule "src/mulinex_description"]
	path = src/mulinex_description
	url = https://github.com/CentroEPiaggio/mulinex_description.git
[submodule "src/mulinex_ignition"]
	path = src/mulinex_ignition
	url = https://github.com/Cionix90/mulinex_ignition.git
[submodule "src/Pi3Hat_Controllers"]
	path = src/Pi3Hat_Controllers
	url = https://github.com/CentroEPiaggio/Pi3Hat_Controllers.git
[submodule "src/Omni_Mulinex_Joystic_OPC"]
	path = src/Omni_Mulinex_Joystic_OPC
	url = https://github.com/CentroEPiaggio/Omni_Mulinex_Joystic_OPC.git
[submodule "src/ugv_gazebo_sim"]
	path = src/ugv_gazebo_sim
	url = https://github.com/Cionix90/ugv_gazebo_sim.git
[submodule "src/SoftLeg-Description"]
	path = src/SoftLeg-Description
	url = https://github.com/fcannoni/SoftLeg-Description.git
